{% extends "main.html" %} {% block content %}
<div id="sidebar">
  <ul class="sidebar-nav">
    <li class="sidebar-brand">
      {{cat}}<span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
    </li>
  </ul>
</div>

<div class="catalog_products">
  <div class="login_add_header">
    <div class="add_items">
      <a href="{{url_for('newProduct')}}">
        <button class="btn btn-default">
          <span class="glyphicon glyphicon-phone" aria-hidden="true"></span>Add Product
        </button>
      </a>
    </div>
    <div class="login_link">
      <a href="{{url_for('showCatalog')}}">
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>Logged in as {{user}}
        <a href="{{url_for('disconnect')}}">
          <button class="btn btn-default">
            <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>logout
          </button>
        </a>
      </a>
    </div>
  </div>
  <div class='flash'>
    {% with messages = get_flashed_messages() %} {% if messages %}
    <ul>
      {% for message in messages %}
      <li> <strong> {{ message }} </strong> </li>
      {% endfor %}
    </ul>
    {% endif %} {% endwith %}
  </div>
  <section class="divider">
    <h6> </h6></section>
  <ul>
    {% for prod in products %}
    <li>
      <section class="latest_cat">
        <h5><a href="{{url_for('showProduct', categ_id=prod.cat_id, product_id=prod.id )}}">{{prod.name}}</a></h5><br>
        <article>{{prod.desc}}</article>
        <div class="login_add_header">
          <div class="add_items">
            <a href="{{url_for('editProduct' , categ_id=prod.cat_id, product_id=prod.id)}}">
              <button class="btn btn-default">
                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>edit
              </button>
            </a>
          </div>
          <div class="login_link">
            <a href="{{url_for('deleteProduct' , categ_id=prod.cat_id, product_id=prod.id)}}">
              <button class="btn btn-default">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>delete
              </button>
            </a>
          </div>
        </div>
      </section>
    </li>
    {% endfor %}
  </ul>
</div>
</div>
{% endblock %}
