{% extends "main.html" %} {% block content %}
<div id="sidebar">
  <ul class="sidebar-nav">
    <li class="sidebar-brand">
      <span>{{item.category}}</span><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
    </li>
  </ul>
</div>

<div class="catalog_products">
  <div class="login_add_header">
    <div class="add_items">
      <a href="{{url_for('newProduct')}}">
        <button class="btn btn-default">
          <span class="glyphicon glyphicon-phone" aria-hidden="true"></span>Add Product
        </button>
      </a>
    </div>
    <div class="login_link">
      <a href="">
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>Logged in as {{user}}
        <a href="{{url_for('showCatalog')}}">
          <button class="btn btn-default">
            <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>logout
          </button>
        </a>
      </a>
    </div>
  </div>
  <div class='flash'>
    {% with messages = get_flashed_messages() %} {% if messages %}
    <ul>
      {% for message in messages %}
      <li> <strong> {{ message }} </strong> </li>
      {% endfor %}
    </ul>
    {% endif %} {% endwith %}
  </div>
  <section class="divider">
    <h6>{{item.name}}</h6></section>
  <div class="login_add_header">
    <div class="add_items">
      <a href="{{url_for('editProduct' , categ_id=item.cat_id, product_id=item.id)}}">
        <button class="btn btn-default">
          <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>edit
        </button>
      </a>
    </div>
    <div class="login_link">
      <a href="{{url_for('deleteProduct' , categ_id=item.cat_id, product_id=item.id)}}">
        <button class="btn btn-default">
          <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>delete
        </button>
      </a>
    </div>
  </div>
  <ul>
    <li>
      <section class="latest_cat">
        <h5><a href="{{url_for('showProductsinCategory', categ_id=item.cat_id)}}">Category</a></h5><br>
        <article>{{item.category}}</article>

      </section>
    </li>
    <li>
      <section class="latest_cat">
        <h5><a>Description   </a><a href="{{item.url}}" target="_blank"><img  class="git" src="{{url_for('static', filename='amaz.png')}}" alt="Amazon Link"></a></h5><br>
        <article>{{item.desc}}</article>
      </section>
    </li>
    <li>
      <section class="latest_cat">
        <h5><a>Reviews</a></h5><br>
        <ul>
          {% for r in reviews %}
          <li>
            <h5>{{names[r.id]}}</h5>
            <h6>{{r.review}}</h6>
          </li>
          {% endfor %}
        </ul>
      </section>
    </li>
  </ul>
</div>
{% endblock %}
